<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/x-icon">
  <title>QR </title>
</head>
<body class="bg-sky-100">

  <div class= "h-screen flex flex-col items-center justify-center  ">
    <div class="w-[19rem] bg-white p-3 rounded-xl shadow-md" >
      <img class="w-[300px] rounded-xl" src="../images/image-qr-code.png" alt="">
      <h1 class="font-extrabold text-[20px] p-3 text-gray-800">Improve Your Front-End skills by building projects</h1>
      <p class="text-gray-500 px-3 text-center py-2 pb-3">Scan The QR code to visit Frontend Mentor and take your coding skills to the next level </p>
    </div>
   

  </div>

</body>
</html>